{% extends "base.html" %}

{% block main %}
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <fieldset>
    <label>
        User Name
        <input name="username" type="text" />
    </label>
    <label>
        Password
        <input name="password" type="password" />
    </label>
    <div class="form-row"> {{ form.otp_token.errors }}{{ form.otp_token.label_tag }}{{ form.otp_token }} </div>
    <button>Log In</button>
    </fieldset>
</form>
{% endblock main %}
