{% extends "base_minimal.html" %}
{% block content_wrapper %}

<div style="text-align:right">
    <p>{{ user.customer.full_name }}</p>
    <p style="font-weight: bold"> Account ID: <span> {{account.pk}} </span></p>
    <p style="font-weight: bold"> Account Name: <span>{{account.name}}</span><p>
    <p style="font-weight: bold"> Balance: <span class="amount">{{ account.balance|floatformat:"2" }}</span></p>
</div>
<h3 style="margin-top: 50px">Account Transactions</h3>
<table>
    <tr>
        <th>Transaction UID</th>
        <th>Amount</th>
        <th>Date and Time</th>
        <th>Text</th>
    </tr>
    {% for movement in account.movements %}
    <tr>
        <td style="text-align:center">{{ movement.transaction }}</td>
        <td style="text-align:center">{{ movement.amount|floatformat:"2" }}</td>
        <td style="text-align:center">{{ movement.timestamp }}</td>
        <td style="text-align:center">{{ movement.text }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
