{% extends "base.html" %} {% block content_wrapper %}
<form action="{% url 'bank:make_transfer' %}" method="post">
	{% csrf_token %}
	<fieldset>
		{{ form }}
		<br />
		<button>Transfer</button>
	</fieldset>
</form>
{% endblock %}
