{% extends "base.html" %} {% block content_wrapper %}

<p>Welcome, {{ user }}.</p>

<fieldset>
	<label>Customer Look Up</label>
	<input
		name="search_term"
		placeholder="Search on customer data"
		class="form-control"
		type="text"
		hx-post="{% url 'bank:staff_search_partial' %}"
		hx-trigger="keyup changed delay:500ms"
		hx-target="#search-results"
		hx-indicator=".htmx-indicator"
	/>
	{% csrf_token %}
</fieldset>

<table>
    <thead>
        <th>ID</th>
        <th>Personal ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Accounts</th>
    </thead>
    <tbody id="search-results">
    </tbody>
</table>

<br />
<h3>Transactions</h3>
<table>
	<thead>
		<th>Transaction UID</th>
		<th>Amount</th>
		<th>From</th>
		<th>To</th>
		<th>Text</th>
		<th>Created on</th>
	</thead>
	<tbody>
		{% for transaction in transactions %}
		<tr>
			<td>{{ transaction.transaction }}</td>
			<td>{{ transaction.amount }}</td>
			<td>{{ transaction.debit_account }}</td>
			<td>{{ transaction.credit_account }}</td>
			<td>{{ transaction.debit_text}}</td>
			<td>{{ transaction.timestamp}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock content_wrapper %}
