{% extends "base.html" %} {% block content_wrapper %}

<p>Welcome, {{ user.customer.full_name }}.</p>

<h3>Transaction Details</h3>

<table>
	<tr>
		<th>Account Number</th>
		<th>Transaction UID</th>
		<th>Amount</th>
		<th>Date and Time</th>
		<th>Text</th>
	</tr>
	{% for movement in movements %}
	<tr>
		{% if movement.account != None and movement.external_credit_account == 'Not external' and  movement.external_debit_account == 'Not external' %}
		<td>{{ movement.account }} </td>
      {% endif %}

		{% if movement.external_credit_account == 'Not external' and movement.account == None %}
      <td>{{ movement.external_debit_account }}</td>
      {% endif %}

		{% if movement.external_debit_account == 'Not external' and movement.account == None %}
      <td>{{ movement.external_credit_account }}</td>
      {% endif %}

		<td>{{ movement.transaction }}</td>
		<td>{{ movement.amount|floatformat:"2" }}</td>
		<td>{{ movement.timestamp }}</td>
		<td>{{ movement.text }}</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
