<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% load static %}
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'holiday.css' %}"
			media="screen"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'custom.css' %}"
			media="screen"
		/>
		<title>Taco Bank</title>
	</head>
	<body>
		{% load l10n %}

		<header>
			<h1 style="text-align:center; font-size: 30px; margin-bottom:0px;">Taco Bank</h1>
            <h2 style="text-align:center; font-size: 20px;">Bank report</h2>
        </header>

		<main> {% block content_wrapper %} {% endblock content_wrapper %} </main>

		<script
			src="https://unpkg.com/htmx.org@1.5.0"
			integrity="sha384-oGA+prIp5Vchu6we2YkI51UtVzN9Jpx2Z7PnR1I78PnZlN8LkrCT4lqqqmDkyrvI"
			crossorigin="anonymous"
		></script>
		<script>
			document.body.addEventListener('htmx:configRequest', (event) => {
				event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
			});
		</script>
	</body>
</html>

