<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% load static %}
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'holiday.css' %}"
			media="screen"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'custom.css' %}"
			media="screen"
		/>
		<title>Taco Bank</title>
	</head>
	<body>
		{% load l10n %}

		<header>
			<h1>Taco Bank</h1>
			{% if user.is_staff %}
			<h2>Bank Staff Portal</h2>
			{% else %}
			<h2>Bank Customer Portal</h2>
			{% endif %}
		</header>

		<nav>
			<ul>
				<li><a href="{% url 'bank:index' %}">Home</a></li>
				<li>
					<span>Menu</span>
					<ul>
						{% if user.is_superuser %}
						<li><a href="{% url 'admin:index' %}">Django Admin</a></li>
						{% endif %}
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'two_factor:profile' %}">Security</a></li>
                        {% endif %}
						<li><a href="{% url 'logout' %}">Log out</a></li>
					</ul>
				</li>
				{% if user.is_staff %}
				<li
					><a href="{% url 'bank:staff_new_customer' %}"
						>New Customer</a
					></li
				>
				{% else %}
				<li><a href="{% url 'bank:make_transfer' %}">Make Transfer</a></li>
				<li
					><a href="{% url 'bank:external_transfer' %}"
						>Make External Transfer</a
					></li
				>
				<li><a href="{% url 'bank:make_loan' %}">Make Loan</a></li>
				{% endif %}
			</ul>
		</nav>

		<main> {% block content_wrapper %} {% endblock content_wrapper %} </main>

		<footer>
			<p>&copy; 2021 Taco Bank Corp.</p>
		</footer>
		<script
			src="https://unpkg.com/htmx.org@1.5.0"
			integrity="sha384-oGA+prIp5Vchu6we2YkI51UtVzN9Jpx2Z7PnR1I78PnZlN8LkrCT4lqqqmDkyrvI"
			crossorigin="anonymous"
		></script>
		<script>
			document.body.addEventListener('htmx:configRequest', (event) => {
				event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
			});
		</script>
	</body>
</html>
